<html lang="en">
  <% include partials/_head %>
  <body>
    <div class="main-container">
      <header>
        <% include partials/_header %>
      </header>
      <% if (user) {%>
        <% console.log(Object.keys(urls).length) %>
        <% if (Object.keys(urls).length) {%>
      <table class="striped">
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
        </tr>
          <% for (let key in urls) {%>
          <tr>
            <td>
              <a href="http://localhost:8080/u/<%=key%>"><%=key%></a>
            </td>
            <td>
              <a href="<%=urls[key]%>"><%=urls[key]%></a>
            </td>
            <td>
              <a href="http://localhost:8080/urls/<%=key%>"><i class="far fa-edit"></i></a>
            </td>
            <td>
              <form class="delete" method="POST" action="/urls/<%= key %>/delete"  style="display: inline-block">
                <button class="invisible"><i class="far fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
        <% } %>
      </table>
      <span>
        <a href="http://localhost:8080/urls/new">new short URL</a>
      </span>
      <%} else {%>
      <span>You must be logged in to access this function. <a href="http://localhost:8080/login">Login here.</a></span>
      <%}%>
    </div>
  </body>
</html>


